body {
  margin: 0;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3F3844;
}

#root {
  height: 100vh;
}

svg {
  vertical-align: middle;
}
